@import "./vars";
@import "./mixins";

@font-face {
    font-family: "Avant Garde Bold";
    src: url("../fonts/ITC_Avant_Garde_Pro_2.000.1000/ITCAvantGardePro-Bold.otf") format("opentype");;
}

@font-face {
    font-family: "Avant Garde Medium";
    src: url("../fonts/ITC_Avant_Garde_Pro_2.000.1000/ITCAvantGardePro-Md.otf") format("opentype");;
}

@font-face {
    font-family: "Salesforce Sans";
    src: url("../fonts/SalesForceSans/SalesforceSans-Regular.ttf") format("truetype");
}

body {
    @include fonts($fontFamilyText, 18px, 24px);
    font-weight: 700;
    text-align: center;
    margin: 0;
    color: $primary;
}

iframe {
    border: 0;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
}

.section {
    padding-top: 30px;
    padding-bottom: 30px;
}

.section-title {
    @include fonts($fontFamilyTitle, 32px, 40px);
}

.btn-next,
.btn-prev,
.btns-pagination {
    color: $hover;
}

.swiper {
    width: 100%;
    height: 100%;
    position: relative;
}


.swiper-wrapper {
    width: 100%;
    height: 100%;
    margin-top: 30px;
    padding-bottom: 40px;
}




