@import "./vars";
@import "./mixins";

@font-face {
    font-family: "Avant Garde Bold";
    src: url("../fonts/ITC_Avant_Garde_Pro_2.000.1000/ITCAvantGardePro-Bold.otf") format("opentype");;
}

@font-face {
    font-family: "Avant Garde Medium";
    src: url("../fonts/ITC_Avant_Garde_Pro_2.000.1000/ITCAvantGardePro-Md.otf") format("opentype");;
}

@font-face {
    font-family: "Salesforce Sans";
    src: url("../fonts/SalesForceSans/SalesforceSans-Regular.ttf") format("truetype");
}

body {
    @include fonts($fontFamilyText, 18px, 24px);
    font-weight: 700;
    text-align: center;
    margin: 0;
    color: $primary;
    @include mobile(320, 576) {
        & {
            font-size: 14px;
            line-height: 20px;
        }
    }
}

iframe {
    border: 0;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
}

.section {
    padding-top: 30px;
    padding-bottom: 30px;
}

.section-title {
    @include fonts($fontFamilyTitle, 32px, 40px);
    @include mobile(320, 574) {
        font-size: 28px;
        line-height: 36px;
    }
}

.swiper-button-next,
.swiper-button-prev {
    color: $hover;
    transition: transform .5 ease-in-out;
    position: absolute;
    top: 95%;
}

.swiper-pagination-bullet{
    background: $hover;
}

.swiper {
    width: 100%;
    height: 100%;
    position: relative;
}

.swiper-wrapper {
    width: 100%;
    height: 100%;
    padding-bottom: 50px;
    @include mobile(360, 575){
        padding-bottom: 40px;
    }
}

.btn-next:active,
.btn-prev:active,
.blog-button-next:active,
.blog-button-prev:active {
    transform: scale(1.05);
}

.swiper-button-next {
    left: auto;
    right: 40%;
}

.swiper-button-prev {
    left: 40%;
    right: auto;
}

.swiper-button-next::after, .swiper-button-prev::after{
    font-size: 25px;
}

