@mixin fonts($a, $b, $c) {
  font-family: $a;
  font-size: $b;
  line-height: $c;
}

@mixin flex($flex-direction, $justify, $align) {
  display: flex;
  flex-direction: $flex-direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin mobile($min-width, $max-width) {
  @media (min-width: #{$min-width}px) and (max-width: #{$max-width}px) {
      @content;
  }
}
