@import "./vars";
@import "./mixins";

.intro {
    height: 500px;
    background-color: $background;
    @include flex(column, center, center);
    width: 100%;

    &-title {
        margin: 0;
        @include fonts($fontFamilyTitle, 64px, 56px);
    }

    &-about {
        @include fonts($fontFamilyText, 24px, 32px);
        color: $info;
        margin: 40px auto;
        width: 90%;
    }
    @include responsive(320, 576) {
        & {
            height: 450px;
            &-title {
                @include fonts($fontFamilyTitle, 48px, 25px);
                margin-top: 50px;
            }
            &-about {
                text-align: justify;
                @include fonts($fontFamilyText, 16px, 24px);
                padding-left: 20px;
                padding-right: 20px;
            }
        }
    }
}