@import "./mixins";
@import "./vars";

.section-blog {
    padding-bottom: 40px;
}

.blog {
    &-wrap {
        width: 100%;
       
    }

    &-item {
       width: calc((100% - 20px) / 3);
        margin-bottom: 1rem;
        @include flex(column, center, center);
        border-radius: 16px;
        box-shadow: 0 2px 8px 3px hsla(0, 0%, 9%, .08), 0 8px 9px -2px hsla(0, 0%, 9%, .16);
    }

    &-img {
        width: 100%;
        object-fit: contain;
        height: 100%;
        flex: .5;
    }
    &-info {
        width: 100%;
        height: 100%;
        padding: 0 15px 15px;
        @include flex(column, space-between, center);
        overflow: hidden;
        flex: 3;
    }
    &-subtitle {
      flex: .5

    }
    &-text {
         color: $info;
         @include fonts($fontFamilyText, 16px, 24px);
         font-weight: 400;
         text-align: justify;
         flex: 1.5;
         overflow: hidden;
         
    }
    &-link {
        color: $primary;
        display: inline-block;
        position: relative;
        transition: all .7s ease;
        &::after{
            content: "";
            position: absolute;
            width: 100%;
            height: 1px;
            background-color: $primary;
            bottom: 3px;
            left: 0;
            transition: color .7s ease;
        }
        &:hover {
            color: $hover;
        }
        &:hover::after {
            opacity: 0;
        }
    }
    @include mobile(768, 992) {
        &-text {
            font-size: 14px;
        }
        &-subtitle {
            font-size: 18px;
        }
}
}

.blog-button-prev, .blog-button-next {
    position: absolute;
    top: 96%;
}

.blog-button-next {
    right: 40%;
    left: auto;
    
}

.blog-button-prev {
    right: auto;
    left: 40%;
}

.blog-button-prev::after, .blog-button-next::after {
    font-size: 25px;
}

.mySwiperBlog {
    padding: 15px 15px 50px 15px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-flow: column;
}



