@import "./mixins";
@import "./vars";

.section-blog {
    padding-bottom: 40px;
}

.blog {
    &-wrap {
        width: 100%;
        height: 100%;
    }

    &-item {
        width: 33.33%;
        @include flex(column, center, center);
        height: 500px;
        overflow: hidden;
        border-radius: 16px;
        box-shadow: 0 2px 8px -2px hsla(0, 0%, 9%, .08), 0 8px 12px -2px hsla(0, 0%, 9%, .16);
    }

    &-img {
        width: 100%;
        //max-height: 100%;
        object-fit: contain;
        height: 100%;
    }
    &-info {
        width: 100%;
        height: 100%;
        padding: 0 15px 15px;
        @include flex(column, space-between, center);
        overflow: hidden;
    }
    &-subtitle {
        margin-bottom: 15px;
    }
    &-text {
         color: $info;
         @include fonts($fontFamilyText, 16px, 24px);
         font-weight: 400;
         margin-bottom: 15px;
         overflow: hidden;
         text-align: justify;
    }
    &-link {
        color: $primary;
        display: inline-block;
        position: relative;
        transition: all .7s ease;
        &::after{
            content: "";
            position: absolute;
            width: 100%;
            height: 1px;
            background-color: $primary;
            bottom: 3px;
            left: 0;
            transition: color .7s ease;
        }
        &:hover {
            color: $hover;
        }
        &:hover::after {
            opacity: 0;
        }
    }
}

.blog-button-prev, .blog-button-next {
    position: absolute;
    top: 96%;
}

.blog-button-next {
    right: 40%;
    left: auto;
    
}

.blog-button-prev {
    right: auto;
    left: 40%;
}

.blog-button-prev::after, .blog-button-next::after {
    font-size: 25px;
}

.swiper-item{
    display: flex;
    justify-content: center;
    gap: 10px;
    overflow: hidden;
    padding: 10px;
}



