@import "./vars";
@import "./mixins";

.intro {
    height: 500px;
    background-color: $background;
    @include flex(column, center, center);
    width: 100%;

    &-title {
        margin: 0;
        @include fonts($fontFamilyTitle, 64px, 56px);
    }

    &-about {
        @include fonts($info, 24px, 32px);
        color: $info;
        margin: 40px 0 0;
    }
}