@import "./vars";
@import "./mixins";

.section-guides {
    background-color: $background;
}

.btns-pagination {
    position: absolute;
    top: 0;
    left: 0;
}

.items-container {
	margin: 0px auto;
}

.item-video {
	position: relative;
	margin: 0px 0px 15px 0px;
	padding: 0px 0px 56% 0px;
}
.item-video video,
.item-video iframe {
	object-fit: cover;
	position: absolute;
	top: 0;
	left: 0;
    right: 0;
    bottom: 0;
	width: 80%;
	height: 100%;
    margin: auto;
}

