@import "./vars";
@import "./mixins";

.section-features-wrap {
     @include flex(column, center, center);
     gap: 20px;
}
.feature-item {
    @include flex(row, flex-start, center);
    gap: 60px;
    line-height: 0;
    width: 100%;
    height: 320px;
    padding: 20px 40px;
    overflow: hidden;
    border-radius: 16px;
    box-shadow: 0 2px 8px -2px hsla(0, 0%, 9%, .08), 0 8px 12px -2px hsla(0, 0%, 9%, .16);
    &--position {
        order: 2;
    }
    &-info {
        line-height: 24px;
        max-width: 960px;
        text-align: justify;
    }
    &-img-wrap {
        max-width: 320px;
    }
    &-img {
        object-fit: cover;
    }
    &-subtitle {
        margin-bottom: 36px;
    }
    &-text {
        @include fonts($fontFamilyText, 18px, 24px);
        font-weight: 400;
        color: $info;
        text-align: left;
    }
}