$fontFamilyText: "Salesforce Sans", system-ui, -apple-system, blinkmacsystemfont, "Segoe UI", "Roboto", "Helvetica Neue", arial, "Noto Sans", sans-serif;
$fontFamilyTitle: "Avant Garde Bold", system-ui, -apple-system, blinkmacsystemfont, "Segoe UI", "Roboto", "Helvetica Neue", arial, "Noto Sans", sans-serif;
$fontFamilySubtitle: "Avant Garde Medium", system-ui, -apple-system, blinkmacsystemfont, "Segoe UI", "Roboto", "Helvetica Neue", arial, "Noto Sans", sans-serif;

$btn: #2e844a;
$primary: #032d60;
$info: #181818;
$light: #fff;
$hover: #0176d3;
$background: #eaf6fe;
$footer: #032e61;


